.btn
  display: inline-block
  padding: 0 30px
  border: none
  border-radius: 20px
  color: $white
  background-color: $golden-grass
  font(18px, 40px, 700, uppercase)

  &:hover
    background-color: lighten($golden-grass, 20%)

