.page-header
  background-image: linear-gradient(to top, $stratos 0, $desert-sand-1 100%)

  &__title
    padding: 20px 5px
    color: $stratos
    text-align: center
    font(36px, 50px)

  &__note
    padding: 20px 5px
    background-color: $tapestry
    color: $white
    text-align: center
    font(36px, 40px)

  &__timer
    padding-top: 20px
