.page-header
  background-color: $desert-sand-2

  &__title
    padding: 20px 5px
    color: $stratos
    text-align: center
    font(36px, 50px)

  &__note
    padding: 20px 5px
    color: $white
    background-color: $tapestry
    text-align: center
    font(36px, 40px)
    
  &__timer
    padding-top: 20px