.problems
  background-image: linear-gradient(to top, $cosmic 0, $violet-eggplant 100%)

  &__list
    display: flex
    flex-direction: column
    align-items: center
    list-style-type: none

    @media $tablet-desktop
      flex-direction: row
      align-items: flex-start

  &__item
    position: relative
    padding-top: 240px
    width: 33%
    color: $white
    font(20px, 27px, 400, uppercase)

    &::before
      position: absolute
      top: 20px
      left: 50%
      display: block
      width: 198px
      height: 198px
      content: ""

      transform: translateX(-50%)

    @media $tablet-desktop
      padding-bottom: 20px

    &--pic-1
      &::before
        background-image: url("../img/image-problems-1.png")

    &--pic-2
      &::before
        background-image: url("../img/image-problems-2.png")

    &--pic-3
      padding-bottom: 20px

      &::before
        background-image: url("../img/image-problems-3.png")

  &__desc
    text-align: center
