.profit
  &__wrapper
    display: flex
    flex-direction: column-reverse
    justify-content: center

  &__title
    margin-top: 20px
    color: $stratos
    text-align: center
    font(26px, 35px, 400)

  &__text
    margin: 20px
    padding: 20px
    border: 1px solid $black
    
  &__image
    margin: auto
    margin-top: 20px
    width: 300px
    height: 300px
    // width: 349px
    // height: 349px
    background-position: center
    background-size: cover

    &--pic-1
      background-image: url("../img/image-circle-1.png")

    &--pic-2
      background-image: url("../img/image-circle-2.png")

    &--pic-3
      background-image: url("../img/image-circle-3.png")

  &__ph
    margin-bottom: 20px

    &:last-of-type
      margin-bottom: 0

