.regform
  padding: 30px
  background-color: $charade

  &__form
    display: flex
    flex-direction: column
    align-items: center

    @media $tablet
      margin: auto
      width: 80%

  &__name
  &__tel
  &__height
  &__weight
  &__age
    position: relative
    z-index: 10
    box-sizing: border-box
    margin-bottom: 20px
    padding-right: 8px
    padding-left: 16px
    outline: none
    border: none
    border-radius: 20px
    font(14px, 40px, 400)

    &::-webkit-input-placeholder
      color: lighten($black, 40%)
      font-weight: 400

    &:focus
      background-color: lighten($golden-grass, 60%)
      font-weight: 700

      &::-webkit-input-placeholder
        font-weight: 700

  &__name
  &__tel
  &__wrapper
    width: 100%

  &__name
  &__tel
    padding-left: 36px
    background-repeat: no-repeat

  &__name
    background-image: url("../img/icon-head.png")
    background-position: left 14px center
    background-size: 15px 15px

    &:focus
      background-image: url("../img/icon-head-dark.png")

  &__tel
    background-image: url("../img/icon-phone.png")
    background-position: left 16px center
    background-size: 11px 11px

    &:focus
      background-image: url("../img/icon-phone-dark.png")

  &__wrapper
    display: flex
    flex-direction: row
    justify-content: space-between

  &__height
  &__weight
  &__age
    width: 31%
