.timer
  min-width: 280px
  background-color: $tapestry
  text-align: center

  &--gigas
    background-color: $gigas

  &__title
    margin-bottom: 10px
    color: $white
    text-align: center
    text-transform: none
    font(21px, 26px, 300)

  &__block
    display: inline-block
    margin-right: 4px

    &:last-of-type
      margin-right: 0

  &__cell
    display: inline-block
    margin-right: 3px
    width: 30px
    height: 40px
    border-radius: 5px
    background-color: $white
    color: $violet-eggplant
    text-align: center
    font(23px, 40px, 700)

  &__text
    color: $white
    text-align: center
    text-transform: lowercase
    font(14px, 27px)
