$white = #ffffff
$black = #000000

$stratos = #000456
$charade = #2d2c40
$tapestry = #ba628e
$golden-grass = #da9a23
$gigas = #403c8a
$lucky-point = #14135a
$shark = #232428

$cosmic = #743e68
$violet-eggplant = #a11381

$desert-sand-1 = #f0c8b6
$desert-sand-2 = #f3d2c4

$petite-orchid = #d7a394
$rose-fog = #e8c9b9

