body
  max-width: 320px
  max-width: 640px

body
input
  font-weight: 400
  font-family: $font

h1
h2
h3
  font-weight: 700
  text-transform: uppercase

body
figure
h1
h2
h3
p
ul
  margin: 0

figure
ul
  padding: 0
