@font-face
  font-weight: 300
  font-style: normal
  font-family: "Open Sans"
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2")

@font-face
  font-weight: 400
  font-style: normal
  font-family: "Open Sans"
  src: local("Open Sans"), local("OpenSans"), url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2")

@font-face
  font-weight: 700
  font-style: normal
  font-family: "Open Sans"
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2")

$font = "Open Sans", "Arial", sans-serif

font($size, $height = normal, $weight = 400, $transform = none)
  font-size: $size

  if $weight != 400
    font-weight: $weight

  if $height != "normal"
    line-height: $height

  if $transform != "none"
    text-transform: $transform